@model KinMel.Models.Jobs

@{
    Layout = "/Views/Shared/_detailsLayout.cshtml";

    ViewData["Title"] = "Details";
}
<div class="col s12 m6">
    <div class="fields-list">
        <ul>
            <li>
                <label asp-for="@Model.Salary"></label>
                <p> @Html.DisplayFor(m => m.Salary)</p>
            </li>
            <li>
                <label asp-for="@Model.WorkingDays"></label>
                <p> @Html.DisplayFor(m => m.WorkingDays)</p>
            </li>
          
        </ul>
    </div>
</div>

<div class="col s12 m6">
    <div class="fields-list">
        <ul>
            <li>
                <label asp-for="@Model.ContractFor"></label>
                <p> @Html.DisplayFor(m => m.ContractFor)</p>
            </li>
            
        </ul>
    </div>
</div>>
