@model KinMel.Models.Mobile

@{
    ViewData["Title"] = "Details";
}
<!--Breadcrumbs-->
<div class="page-container grey lighten-3">
    <div class="container grey lighten-3">
        <a asp-controller="Home" asp-action="Index" class="breadcrumb">Home</a>
        <a asp-controller="ClassifiedAds" asp-action="Index" class="breadcrumb">Browse Ads</a>
        <a asp-controller="Mobiles" asp-action="Index" class="breadcrumb">Mobiles</a>
    </div>
</div>

<!--Main-Content-->
<div class="page-container">
    <div class="row">
        <div class="table-striped card-panel card-panel-large z-depth-4">
            <div>
                <div class="details-title">
                    <i class="material-icons align-middle cyan-text">title</i>
                    @Html.DisplayFor(model => model.Title)
                </div>
                <div class="details-description">
                    <i class="material-icons align-middle cyan-text">description</i>
                    @Html.DisplayNameFor(model => model.Description)
                    <div>@Html.DisplayFor(model => model.Description)</div>
                </div>
                @Html.DisplayNameFor(model => model.Brand)
                @Html.DisplayFor(model => model.Brand)
                @Html.DisplayNameFor(model => model.ModelNo)
                @Html.DisplayFor(model => model.ModelNo)
                @Html.DisplayNameFor(model => model.Color)
                @Html.DisplayFor(model => model.Color)
                @Html.DisplayNameFor(model => model.Storage)
                @Html.DisplayFor(model => model.Storage)
                @Html.DisplayNameFor(model => model.Ram)
                @Html.DisplayFor(model => model.Ram)
                @Html.DisplayNameFor(model => model.FrontCamera)
                @Html.DisplayFor(model => model.FrontCamera)
                @Html.DisplayNameFor(model => model.BackCamera)
                @Html.DisplayFor(model => model.BackCamera)
                @Html.DisplayNameFor(model => model.PhoneOs)
                @Html.DisplayFor(model => model.PhoneOs)
                @Html.DisplayNameFor(model => model.ScreenSize)
                @Html.DisplayFor(model => model.ScreenSize)
                @Html.DisplayNameFor(model => model.Features)
                @Html.DisplayFor(model => model.Features)
                @Html.DisplayNameFor(model => model.Condition)
                @Html.DisplayFor(model => model.Condition)
                @Html.DisplayNameFor(model => model.Price)
                @Html.DisplayFor(model => model.Price)
                @Html.DisplayNameFor(model => model.PriceNegotiable)
                @Html.DisplayFor(model => model.PriceNegotiable)
                @Html.DisplayNameFor(model => model.Delivery)
                @Html.DisplayFor(model => model.Delivery)
                @Html.DisplayNameFor(model => model.DateCreated)
                @Html.DisplayFor(model => model.DateCreated)
                @Html.DisplayNameFor(model => model.IsSold)
                @Html.DisplayFor(model => model.IsSold)
                @Html.DisplayNameFor(model => model.IsActive)
                @Html.DisplayFor(model => model.IsActive)
                @Html.DisplayNameFor(model => model.Slug)
                @Html.DisplayFor(model => model.Slug)
                @Html.DisplayNameFor(model => model.Discriminator)
                @Html.DisplayFor(model => model.Discriminator)
                @Html.DisplayNameFor(model => model.CreatedByUser)
                @Html.DisplayFor(model => model.CreatedByUser.Id)
                @Html.DisplayNameFor(model => model.SubCategory)
                @Html.DisplayFor(model => model.SubCategory.Id)
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
