@model KinMel.Models.Mobile

@{
    Layout = "/Views/Shared/_detailsLayout.cshtml";
}
<div class="fields-list">
    @if (!String.IsNullOrWhiteSpace(@Model.Brand))
    {
        <ul class="col s12 m6 m-0">
            <li>
                <label asp-for="@Model.Brand"></label>
                <p> @Html.DisplayFor(m => m.Brand)</p>
            </li>
        </ul>
    }
    @if (!String.IsNullOrWhiteSpace(@Model.Model))
    {
        <ul class="col s12 m6 m-0">
            <li>
                <label asp-for="@Model.Model"></label>
                <p> @Html.DisplayFor(m => m.Model)</p>
            </li>
        </ul>
    }
    @if (!String.IsNullOrWhiteSpace(@Model.Color))
    {
        <ul class="col s12 m6 m-0">
            <li>
                <label asp-for="@Model.Color"></label>
                <p> @Html.DisplayFor(m => m.Color)</p>
            </li>
        </ul>
    }
    @if (@Model.Storage != null)
    {
        <ul class="col s12 m6 m-0">
            <li>
                <label asp-for="@Model.Storage"></label>
                <p> @Html.DisplayFor(m => m.Storage) GB</p>
            </li>
        </ul>
    }
    @if (@Model.Ram != null)
    {
        <ul class="col s12 m6 m-0">
            <li>
                <label asp-for="@Model.Ram"></label>
                <p> @Html.DisplayFor(m => m.Ram) GB</p>
            </li>
        </ul>
    }

    @if (@Model.FrontCamera != null)
    {
        <ul class="col s12 m6 m-0">
            <li>
                <label asp-for="@Model.FrontCamera"></label>
                <p> @Html.DisplayFor(m => m.FrontCamera) MP</p>
            </li>
        </ul>
    }
    @if (@Model.BackCamera != null)
    {
        <ul class="col s12 m6 m-0">
            <li>
                <label asp-for="@Model.BackCamera"></label>
                <p> @Html.DisplayFor(m => m.BackCamera) MP</p>
            </li>
        </ul>
    }        @if (@Model.ScreenSize != null)
    {
        <ul class="col s12 m6 m-0">
            <li>
                <label asp-for="@Model.ScreenSize"></label>
                <p> @Html.DisplayFor(m => m.ScreenSize) "</p>
            </li>
        </ul>
    }
    @if (!String.IsNullOrWhiteSpace(@Model.PhoneOs))
    {
        <ul class="col s12 m6 m-0">
            <li>
                <label asp-for="@Model.PhoneOs"></label>
                <p> @Html.DisplayFor(m => m.PhoneOs)</p>
            </li>
        </ul>
    }

</div>
