@model KinMel.Models.Mobile

@{
    Layout = "/Views/Shared/_detailsLayout.cshtml";

    ViewData["Title"] = "Details";
}
<div class="col s12 m6">
    <div class="fields-list">
        <ul>
            <li>
                <label asp-for="@Model.Brand"></label>
                <p> @Html.DisplayFor(m => m.Brand)</p>
            </li>
            <li>
                <label asp-for="@Model.Model"></label>
                <p> @Html.DisplayFor(m => m.Model)</p>
            </li>
            <li>
                <label asp-for="@Model.Color"></label>
                <p> @Html.DisplayFor(m => m.Color)</p>
            </li>
            <li>
                <label asp-for="@Model.Storage"></label>
                <p> @Html.DisplayFor(m => m.Storage) GB</p>
            </li>
            <li>
                <label asp-for="@Model.Ram"></label>
                <p> @Html.DisplayFor(m => m.Ram) GB</p>
            </li>
        </ul>
    </div>
</div>

<div class="col s12 m6">
    <div class="fields-list">
        <ul>
            <li>
                <label asp-for="@Model.FrontCamera"></label>
                <p> @Html.DisplayFor(m => m.FrontCamera) MP</p>
            </li>
            <li>
                <label asp-for="@Model.BackCamera"></label>
                <p> @Html.DisplayFor(m => m.BackCamera) MP</p>
            </li>
            <li>
                <label asp-for="@Model.PhoneOs"></label>
                <p> @Html.DisplayFor(m => m.PhoneOs)</p>
            </li>
            <li>
                <label asp-for="@Model.ScreenSize"></label>
                <p> @Html.DisplayFor(m => m.ScreenSize) Inches</p>
            </li>
        </ul>
    </div>
</div>