@model KinMel.Models.AccountDTO

@{
    ViewData["Title"] = "User Profile";
}

<!--page-container-grid-->
<div class="page-container-grid">
    <!--side-container-->
    <div class="side-container-grid">
        <!--Side-card-->
        <div class="card side-content-grid z-depth-4">
            <!--profile-pic-->
            <div>
                <img src="https://picsum.photos/220/300/?random"/>
            </div>
            <!--side-about-content-->
            <div class="card-content">
                <p class="grey-text text-darken-3">About</p>
                <p class="content-description grey-text text-darken-1">Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                    Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
                <a class="pink-text">Read more<i class="material-icons align-middle">arrow_forward</i></a>
                <hr/>
            </div>
        </div>
    </div>
    <!--Main-container-->
    <div class="main-container-grid">

    </div>
</div>


<div>
    <h4></h4>
    @if (!string.IsNullOrWhiteSpace(@Model.ProfilePictureUrl))
    {
        <img src="@Model.ProfilePictureUrl" />
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AverageStars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AverageStars)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JoinDate)
        </dd>

    </dl>
</div>
<div>
    @if (Model.Ratings != null)
    {
        if (Model.Ratings.Any())
        {
            foreach (Rating rating in Model.Ratings)
            {
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(r => rating.RatedById)
                    </dt>
                    <dd>
                        @Html.DisplayFor(r => rating.RatedById)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(r => rating.Stars)
                    </dt>
                    <dd>
                        @Html.DisplayFor(r => rating.Stars)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(r => rating.Review)
                    </dt>
                    <dd>
                        @Html.DisplayFor(r => rating.Review)
                    </dd>
                </dl>
            }
        }
    }
</div>

<div>
    @if (Model.ClassifiedAds != null)
    {
        if (Model.ClassifiedAds.Any())
        {
            foreach (ClassifiedAd classifiedAd in Model.ClassifiedAds)
            {
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(c => classifiedAd.Title)
                    </dt>
                    <dd>
                        @Html.DisplayFor(c => classifiedAd.Title)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(c => classifiedAd.Price)
                    </dt>
                    <dd>
                        @Html.DisplayFor(c => classifiedAd.Price)
                    </dd>
                </dl>
            }
        }
    }
</div>
<div>
    <a asp-action="Create" asp-controller="Ratings" asp-route-id="@Model.Id">Rate This user</a>
</div>
