@using Microsoft.EntityFrameworkCore
@model KinMel.Models.AccountDTO

@{
    ViewData["Title"] = "User Profile";
}

<div class="browse-width">
    <div class="profile-page-grid">
        <div class="cover-image">
            <img src="https://placeimg.com/768/260/arch" alt="Cover picture" />
            <!--SideCard-->
            <div class="side-content-grid card z-depth-4">
                <div class="profile-picture">
                    <img src="https://picsum.photos/400" alt="Profile picture" />
                </div>
                <div class="about-me grey lighten-4 card-content">
                    <b>About me!</b>
                    <p>
                        Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                        Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                        Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                        Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                        Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                    </p>
                    <a class="pink-text text-darken-3">Read more<i class="material-icons align-middle">arrow_forward</i></a>
                </div>
                <ul>
                    <li>
                        <label asp-for="Email"></label>
                        <p>@Html.DisplayFor(model => model.Email)</p>
                    </li>
                    <li>
                        <label asp-for="PhoneNumber"></label>
                        @if (Model.PhoneNumberConfirmed == true)
                        {
                            <p>@Html.DisplayFor(model => model.PhoneNumberConfirmed)<i class="material-icons cyan-text tooltipped" data-tooltip="Phone verified" data-position="left">verified_user</i></p>
                        }
                        else
                        {
                            <p>@Html.DisplayFor(model => model.PhoneNumberConfirmed)<i class="material-icons red-text tooltipped" data-tooltip="Phone not verified" data-position="left">phonelink_erase</i></p>
                        }
                        <p>@Html.DisplayFor(model => model.PhoneNumber)</p>
                    </li>
                    <li>
                        <label asp-for="City"></label>
                        <p>@Html.DisplayFor(model => model.City)</p>
                    </li>
                </ul>
                <!--TopHeader-->
                <div class="profile-username white-text">
                    @Html.DisplayFor(model => model.FullName)
                </div>
                <!--joined Date-->
                <div class="profile-joindate grey-text text-lighten-2">
                    Joined on @Html.DisplayFor(model => model.JoinDate)
                </div>
                <div class="star-rating-empty tooltipped" data-tooltip="Average Rating: @Model.AverageStars" data-position="left">
                    <p class="material-icons pink-text m0">star_border</p>
                    <p class="material-icons pink-text m0">star_border</p>
                    <p class="material-icons pink-text m0">star_border</p>
                    <p class="material-icons pink-text m0">star_border</p>
                    <p class="material-icons pink-text m0">star_border</p>
                    <p class="white-text m0">| @Model.Ratings.Count |</p>
                </div>
                <div class="star-rating">
                    @for (var i = 1; i <= Model.AverageStars; i++)
                    {
                        <i class="material-icons pink-text">star</i>

                        if ((Model.AverageStars - i) > 0 && (Model.AverageStars - i) < 1)
                         {
                        <i class="material-icons pink-text">star_half</i>
                         }
                    }
                    
                </div>
            </div>
            <a asp-action="Create" asp-controller="Ratings" asp-route-id="@Model.Id" class="waves-effect waves-light btn pink tooltipped" data-tooltip="Give a rating and review to the user." data-position="left">
                <i class="material-icons left">star</i>Rate this user
            </a>
        </div>
    </div>
</div>

<div>
    <h4></h4>
    @if (!string.IsNullOrWhiteSpace(@Model.ProfilePictureUrl))
    {
        <img src="@Model.ProfilePictureUrl" />
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageStars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AverageStars)
        </dd>

    </dl>
</div>
<div>
    @if (Model.Ratings != null)
    {
        if (Model.Ratings.Any())
        {
            foreach (Rating rating in Model.Ratings)
            {
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(r => rating.RatedById)
                    </dt>
                    <dd>
                        @Html.DisplayFor(r => rating.RatedById)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(r => rating.Stars)
                    </dt>
                    <dd>
                        @Html.DisplayFor(r => rating.Stars)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(r => rating.Review)
                    </dt>
                    <dd>
                        @Html.DisplayFor(r => rating.Review)
                    </dd>
                </dl>
            }
        }
    }
</div>

<div>
    @if (Model.ClassifiedAds != null)
    {
        if (Model.ClassifiedAds.Any())
        {
            foreach (ClassifiedAd classifiedAd in Model.ClassifiedAds)
            {
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(c => classifiedAd.Title)
                    </dt>
                    <dd>
                        @Html.DisplayFor(c => classifiedAd.Title)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(c => classifiedAd.Price)
                    </dt>
                    <dd>
                        @Html.DisplayFor(c => classifiedAd.Price)
                    </dd>
                </dl>
            }
        }
    }
</div>