@model IEnumerable<KinMel.Models.ClassifiedAd>

<div class="card-header">@ViewData["ComponentTitle"]</div>
<div class="main-content-cards">
    @foreach (var item in Model)
    {
        <div>
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="content-image-grid activator" src="@item.PrimaryImageUrl" />
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <a asp-action="Details" asp-controller="ClassifiedAds" asp-route-id="@item.Slug" class="content-title">@Html.DisplayFor(modelItem => item.Title)</a>
                        @*<i class="material-icons right">more_vert</i>*@
                    </span>
                    @if (@item.Condition == "NEW")
                    {
                        <a class="content-condition btn-large waves-effect waves-light red darken-1">@Html.DisplayFor(modelItem => item.Condition)</a>
                    }
                    else
                    {
                        <a class="content-condition btn-large waves-effect waves-light cyan darken-3">@Html.DisplayFor(modelItem => item.Condition)</a>
                    }
                    <p class="material-icons align-middle m-5">person_outline</p>
                    <a asp-action="UserProfile" asp-controller="Account" asp-route-id=@item.CreatedByUserId class="content-username align-middle"> @Html.DisplayFor(modelItem => item.CreatedByUser.FullName)</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        <a asp-action="Details" asp-controller="ClassifiedAds" asp-route-id="@item.Slug" class="content-title">@Html.DisplayFor(modelItem => item.Title)</a>
                        <i class="material-icons right">close</i>
                    </span>
                    <p class="content-description">@Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="content-datecreated">@Html.DisplayFor(modelItem => item.DateCreated)</p>
                </div>
            </div>
        </div>
    }
</div>