@model KinMel.Models.Rating

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RatedById)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RatedById)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RateByFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RateByFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stars)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Review)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RatedFor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RatedFor.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
