@model IEnumerable<KinMel.Models.Rating>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RatedById)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RateByFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stars)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Review)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.RatedFor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RatedById)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RateByFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatedFor.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
