@using System.Globalization
@model IEnumerable<KinMel.Models.Question>

@{
    ViewData["Title"] = "Default";
}
<ul class="collection m-0">
    @foreach (var item in Model)
    {
        <li class="collection-item avatar">
            <img src="@item.CreatedBy.ProfilePictureUrl" alt="" class="circle">
            <span class="title">
                <a asp-controller="Account" asp-action="UserProfile" asp-route-id="@item.CreatedBy.UserName">@Html.DisplayFor(modelItem => item.CreatedBy.UserName)</a>
            </span>
            <p>
                @Html.DisplayFor(modelItem => item.Text)
                <br />
                <label class="">
                    Asked at @item.DateCreated.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm", CultureInfo.InvariantCulture)
                </label>
            </p>
            @*<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>*@
        </li>

        foreach (var answer in item.Answers)
        {
            <li>
                <div class="row m-0">
                    <div class="col s1">
                    </div>
                    <div class="col s11">
                        <ul class="collection m-0">
                            <li class="collection-item avatar">
                                <img src="@answer.CreatedBy.ProfilePictureUrl" alt="" class="circle">
                                <span class="title">
                                    <a asp-controller="Account" asp-action="UserProfile" asp-route-id="@answer.CreatedBy.UserName">@Html.DisplayFor(modelItem => answer.CreatedBy.UserName)</a>
                                </span>
                                <p>
                                    @Html.DisplayFor(modelItem => answer.Text)
                                    <br />
                                    <label class="">
                                        Answered at @item.DateCreated.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm", CultureInfo.InvariantCulture)
                                    </label>
                                </p>
                                @*<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>*@
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        }
        <li>
            <div class="row m-0">
                <div class="col s1">
                </div>
                <div class="col s11">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-area="" asp-controller="Answers" asp-action="Create" method="post">
                            <div class="input-field col s12 m9">
                                <label class="active" for="Text">Post your answer</label>
                                <input id="Text" name="Text" required />
                            </div>
                            <div class="input-field col s12 m3">
                                <input name="QuestionId" hidden value="@item.Id" />
                                <button type="submit" value="Create" class="btn">Answer Question</button>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </li>
    }

</ul>
