@model KinMel.Models.Car
@{
    Layout = "/Views/Shared/_detailsLayout.cshtml";

    ViewData["Title"] = "Details";
}

<div class="col s12 m6">
    <div class="fields-list">
        <ul>
            <li>
                <label asp-for="@Model.Brand"></label>
                <p> @Html.DisplayFor(m => m.Brand)</p>
            </li>
            <li>
                <label asp-for="@Model.Model"></label>
                <p> @Html.DisplayFor(m => m.Model)</p>
            </li>
            <li>
                <label asp-for="@Model.ModelYear"></label>
                <p> @Html.DisplayFor(m => m.ModelYear)</p>
            </li>
            <li>
                <label asp-for="@Model.Type"></label>
                <p> @Html.DisplayFor(m => m.Type)</p>
            </li>
            <li>
                <label asp-for="@Model.Color"></label>
                <p> @Html.DisplayFor(m => m.Color)</p>
            </li>
            <li>
                <label asp-for="@Model.LotNo"></label>
                <p> @Html.DisplayFor(m => m.LotNo)</p>
            </li>
            <li>
                <label asp-for="@Model.RegisteredDistrict"></label>
                <p> @Html.DisplayFor(m => m.RegisteredDistrict)</p>
            </li>
        </ul>
    </div>
</div>

<div class="col s12 m6">
    <div class="fields-list">
        <ul>
            <li>
                <label asp-for="@Model.Engine"></label>
                <p> @Html.DisplayFor(m => m.Engine)</p>
            </li>
            <li>
                <label asp-for="@Model.Transmission"></label>
                <p> @Html.DisplayFor(m => m.Transmission)</p>
            </li>
            <li>
                <label asp-for="@Model.Mileage"></label>
                <p> @Html.DisplayFor(m => m.Mileage)</p>
            </li>
            <li>
                <label asp-for="@Model.TotalKm"></label>
                <p> @Html.DisplayFor(m => m.TotalKm)</p>
            </li>
            <li>
                <label asp-for="@Model.FuelType"></label>
                <p> @Html.DisplayFor(m => m.FuelType)</p>
            </li>
            <li>
                <label asp-for="@Model.DoorsNo"></label>
                <p> @Html.DisplayFor(m => m.DoorsNo)</p>
            </li>
            <li>
                <label asp-for="@Model.DoorsNo"></label>
                <p> @Html.DisplayFor(m => m.DoorsNo)</p>
            </li>
        </ul>
    </div>
</div>