@model KinMel.Models.Computer

@{
    Layout = "/Views/Shared/_detailsLayout.cshtml";

    ViewData["Title"] = "Details";
}
<div class="col s12 m6">
    <div class="fields-list">
        <ul>
            <li>
                <label asp-for="@Model.Type"></label>
                <p> @Html.DisplayFor(m => m.Type)</p>
            </li>
            <li>
                <label asp-for="@Model.Processor"></label>
                <p> @Html.DisplayFor(m => m.Processor)</p>
            </li>
            <li>
                <label asp-for="@Model.ProcessorGeneration"></label>
                <p> @Html.DisplayFor(m => m.ProcessorGeneration)</p>
            </li>
            <li>
                <label asp-for="@Model.GraphicsCard"></label>
                <p> @Html.DisplayFor(m => m.GraphicsCard) GB</p>
            </li>
            <li>
                <label asp-for="@Model.Ram"></label>
                <p> @Html.DisplayFor(m => m.Ram) GB</p>
            </li>
        </ul>
    </div>
</div>

<div class="col s12 m6">
    <div class="fields-list">
        <ul>
            <li>
                <label asp-for="@Model.HDD"></label>
                <p> @Html.DisplayFor(m => m.HDD) GB</p>
            </li>
            <li>
                <label asp-for="@Model.SSD"></label>
                <p> @Html.DisplayFor(m => m.SSD) GB</p>
            </li>
            <li>
                <label asp-for="@Model.Battery"></label>
                <p> @Html.DisplayFor(m => m.Battery)</p>
            </li>
            <li>
                <label asp-for="@Model.ScreenType"></label>
                <p> @Html.DisplayFor(m => m.ScreenType)</p>
            </li>
            <li>
                <label asp-for="@Model.ScreenSize"></label>
                <p> @Html.DisplayFor(m => m.ScreenSize) Inches</p>
            </li>
        </ul>
    </div>
</div>