@model KinMel.Models.RealState

@{
    Layout = "/Views/Shared/_detailsLayout.cshtml";

    ViewData["Title"] = "Details";
}
<div class="col s12 m6">
    <div class="fields-list">
        <ul>
            <li>
                <label asp-for="@Model.PropertyType"></label>
                <p> @Html.DisplayFor(m => m.PropertyType)</p>
            </li>
            <li>
                <label asp-for="@Model.LandSize"></label>
                <p> @Html.DisplayFor(m => m.LandSize)</p>
            </li>
            <li>
                <label asp-for="@Model.Floors"></label>
                <p> @Html.DisplayFor(m => m.Floors)</p>
            </li>
        </ul>
    </div>
</div>

<div class="col s12 m6">
    <div class="fields-list">
        <ul>
            <li>
                <label asp-for="@Model.TotalRooms"></label>
                <p> @Html.DisplayFor(m => m.TotalRooms)</p>
            </li>
            <li>
                <label asp-for="@Model.Furnishing"></label>
                <p> @Html.DisplayFor(m => m.Furnishing)</p>
            </li>
        </ul>
    </div>
</div>