@using KinMel.Models
@model KinMel.Models.ClassifiedAdSearchModel


@{
    ViewData["Title"] = "Search";
}

<!--Breadcrumbs-->
<div class="page-container grey lighten-3">
    <div class="browse-width row grey lighten-3 mb0">
        <a asp-controller="Home" asp-action="Index" class="breadcrumb">Home</a>
        <a asp-controller="ClassifiedAds" asp-action="Index" class="breadcrumb">Browse Ads</a>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col s12 m2 l2">
                <div class="card blue-white lighten-4">
                    <div class="card-content white-text">
                        <span class="card-title" style="color: brown;">Filter Products</span>
                        @using (Html.BeginForm("Search", "ClassifiedAds", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="input-field">

                                <i class="material-icons">&nbsp;room</i>
                                @Html.LabelFor(m => m.City)

                                @Html.TextBoxFor(m => m.City)

                            </div>

                            <div class="input-field">

                                @Html.LabelFor(m => m.Condition)
                                @Html.TextBoxFor(m => m.Condition)


                            </div>

                            <div class="input-field">

                                @Html.LabelFor(m => m.PriceFrom)
                                @Html.TextBoxFor(m => m.PriceFrom, new { type = "number", min = "1", max = "10 Thousands" })
                                @Html.ValidationMessageFor(m => m.PriceFrom)

                            </div>

                            <div class="input-field">

                                @Html.LabelFor(m => m.PriceTo)
                                @Html.TextBoxFor(m => m.PriceTo, new { type = "number", min = "1", max = "10 crore" })
                                @Html.ValidationMessageFor(m => m.PriceTo)

                            </div>
                            @*<div class="card-panel">*@
                                <div class="container">
                                    <button class="btn waves-effect waves-light green btn-small" type="submit" style="margin-bottom: 5px;">
                                        Filter
                                        <i class="material-icons right">send</i>
                                    </button>
                                    <button class="btn waves-effect waves-light red btn-small" type="submit">
                                        Clear
                                        <i class="material-icons right">cancel</i>
                                    </button>
                                </div>
                            @*</div>*@
                        }
                    </div>

                </div>
            </div>

            <div class="container">
                <div class="products">
                    <div class="container">
                        <span class="card-title" style="color: brown;">Found <strong>@Model.PropertyResults.Count()</strong> Products</span>
                        <div class="row">

                            @{
                                if (Model.PropertyResults.Count() > 0)
                                {
                                    foreach (ClassifiedAd p in Model.PropertyResults)

                                    {
                                        <div class="col s12 m6 l4">
                                            <div class="card">
                                                <div class="row">
                                                    @Html.Raw("<li>")

                                                    @Html.Raw("<strong>Title: " + p.Title + "</strong><br/>")

                                                    @*@Html.Raw("<strong>Posted By: </strong>" + p.FirstName + "<br/>")
                                                        ;*@
                                                    @Html.Raw("<strong>City:</strong> " + p.City + "<br/>")

                                                    @Html.Raw("<strong>Price: &#8360;.</strong> " + p.Price + "<br/>")


                                                    @Html.Raw("<strong>Condition: </strong>" + p.Condition + "<br/>")

                                                    @*@Html.Raw("<strong>Description:</strong>" + p.Description + "<br/>")*@


                                                    @Html.Raw("</li>")
                                                </div>

                                            </div>

                                        </div>

                                    }
                                    @Html.Raw("</ul>")
                                    ;
                                }
                                else
                                {
                                    <h2>Sorry !</h2>
                                    <p>No Properties could be found :( consider checking the input field. Thank You !!</p>
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--for map-->
<div class="col-md-7 embed-responsive">

    <div class="map">
        @*
            <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>*@
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk60GebdmOQVTmp1EdDwK2Hvycq68sIRI"></script>

        <!-- This css is to ensure that the google map contols (zoom bar etc) show and size correctly. -->
        <style>
            #map_canvas img {
                max-width: none,
            }

            .infoDiv {
                height: 70px;
                width: 110px;
                -webkit-user-select: none;
                background-color: white;
            }
        </style>


        <!-- This is the div that will contain the Google Map -->
        <div id="map_canvas" style="height: 600px; width: 700px;"></div>
        <!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc -->
        @section scripts {
            <section class="scripts">

                <script type="text/javascript">


                    //This code tells the browser to execute the "Initialize" method only when the complete document model has been loaded.
                    $(document).ready(function () {
                        //Initialize();
                        Map();

                    });

                    function Map() {

                        //var markers= [];
                        google.maps.visualRefresh = true;
                        var Copenhagen = new google.maps.LatLng(55.676098, 12.568337);

                        // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
                        var mapOptions = {
                            zoom: 10,
                            center: Copenhagen,
                            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP

                        };

                        // This makes the div with id "map_canvas" a google map
                        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

                        // This shows adding a simple pin "marker" - this happens to be the Center in Copenhagen!
                        var myLatlng = new google.maps.LatLng(55.676098, 12.568337);


                        //var marker = new google.maps.Marker({
                        var marker = new google.maps.Marker({
                            position: myLatlng,
                            map: map,
                            title: 'Center-Copenhagen'
                        });


                        // You can make markers different colors...  google it up!
                        marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');

                        // Using the JQuery "each" selector to iterate through the JSON list and drop marker pins

                        $.each(data, function (i, item) {
                            //var myLatlng = new google.maps.LatLng(item.GeoLat, item.GeoLong);
                            myLatlng = new google.maps.LatLng(item.GeoLat, item.GeoLong);

                            //var marker = new google.maps.Marker({
                            var marker = new google.maps.Marker({
                                position: myLatlng,
                                map: map,
                                title: item.TITLE
                            });
                            // console.log(item.PlaceName);

                            // Make the marker-pin blue!
                            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');

                            var content = ('<p> ' +
                                item.PlaceName +
                                ' <br>' +
                                '' +
                                item.Street + '&nbsp;' + item.ZIP +
                                '<br>' +
                                '' +
                                item.Title +
                                '</p>' +
                                '<a href="/Tasks/Details/' + item.Id +
                                '" style="background: #07889B; border-radius: 24px;  margin-left: 25px;  margin-right: 25px; font-size: 12px;" class="btn btn-secondary btn-sm"> Show Task </a >'

                            );

                            var infowindow = new google.maps.InfoWindow({
                                content: content

                            });
                            //finally hook up an "OnClick" listener to the map so it pops up out info-window when the marker-pin is clicked!
                            google.maps.event.addListener(marker,
                                'click',
                                function () {
                                    infowindow.open(map, marker);

                                });
                        });

                        for (var i = 0; i < data.length; i++) {
                            data[i] = [];
                        }

                    }


                    //for place filter you can do it within one method but alxi lagyo so tai gar paxi
                    function filterLocation(loc) {

                        console.log(loc);

                        var a = loc.toString();

                        console.log("stringified location" + " " + a);

                        $.ajax({
                            url: '/tasks/getwithplace',
                            type: 'GET',
                            dataType: 'json',
                            cache: false,
                            data: { place: a },
                            traditional: true,
                            contentType: 'application/json; charset=utf-8',
                            success: function (response) {

                                var i, item;
                                for (i = 0; i < response.length; i++) {
                                    console.log("Just lattitude" + " " + response[i].GeoLat);
                                    data.push({
                                        "Id": response[i].Id,
                                        "PlaceName": response[i].PlaceName,
                                        "Street": response[i].Street,
                                        "ZIP": response[i].ZIP,
                                        "Price": response[i].Price,
                                        "Title": response[i].Title,
                                        "GeoLong": response[i].GeoLong,
                                        "GeoLat": response[i].GeoLat

                                    });

                                }

                                Map();

                            },

                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(xhr.status);
                                alert(thrownError);
                            }

                        });
                    }




                </script>
            </section>
        }

    </div>
</div>

<!--just checking grid-->

<div class="navbar">
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo" href="#"> &nbsp;Events.org</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Map</a></li>
                <li><a href="badges.html">Calendar</a></li>
                <li><a href="#modal1" class="modal-trigger" data-target="modal1">Submit event</a></li>
                <li><a href="collapsible.html">Help us!</a></li>
                <li><a href="collapsible.html">About</a></li>
            </ul>
        </div>
    </nav>
</div>

<div id="container">
    <div class="row">
        <div class="col s12 m12 l3">
            <nav class="search-title-filter">
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
            <ul class="collapsible" data-collapsible="expandable">
                <li class="">
                    <div class="collapsible-header active"><i class="material-icons">event_note</i>Date</div>
                    <div class="collapsible-body filter-container" style="display: none; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                        <form action="#">
                            <ul>
                                <li>
                                    <input class="with-gap" name="group1" type="radio" id="Today" />
                                    <label for="Today">Today</label>
                                </li>
                                <li>
                                    <input class="with-gap" name="group1" type="radio" id="week" />
                                    <label for="week">This week</label>
                                </li>
                                <li>
                                    <input class="with-gap" name="group1" type="radio" id="month" selected />
                                    <label for="month">This month</label>
                                </li>
                                <li>
                                    <input class="with-gap" name="group1" type="radio" id="year" />
                                    <label for="year">This year</label>
                                </li>
                                <li>
                                    <input class="with-gap" name="group1" type="radio" id="Custom" />
                                    <label for="Custom">Custom date</label>
                                </li>
                            </ul>


                        </form>
                    </div>
                </li>
                <li class="">
                    <div class="collapsible-header active"><i class="material-icons">local_activity</i>Styles</div>
                    <div class="collapsible-body " style="display: none; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                        <p>
                            <select multiple>
                                <!--<option value="" disabled selected>Choose your option</option>-->
                                <option value="1" selected>Lindy Hop</option>
                                <option value="2" selected>Blues</option>
                                <option value="3" selected>Balboa</option>
                                <option value="3" selected>Jazz</option>
                                <option value="3" selected>Shag</option>
                                <option value="3" selected>Charleston</option>
                                <option value="3" selected>Other</option>
                            </select>
                            <label>Materialize Select</label>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header active"><i class="material-icons">pin_drop</i>Country</div>
                    <div class="collapsible-body">
                        <p>
                            <select id="country-select"></select>
                            <label>Optgroups</label>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header active"><i class="material-icons">label</i>Event type</div>
                    <div class="collapsible-body filter-container">

                        <ul>
                            <li>
                                <input type="checkbox" name="event-type-filter" class="event-type-filter filled-in" id="socials" checked="checked" value="social" />
                                <label for="socials">Socials</label>
                            </li>
                            <li>
                                <input type="checkbox" name="event-type-filter" class="event-type-filter  filled-in" id="classes" checked="checked" value="class" />
                                <label for="classes">Classes</label>
                            </li>
                            <li>
                                <input type="checkbox" name="event-type-filter" class="event-type-filter filled-in" id="festival-event" checked="checked" value="festival" />
                                <label for="festival-event">Festivals & events</label>
                            </li>
                        </ul>

                    </div>
                </li>
            </ul>

        </div>

        <!-- Cards container -->
        <div class="col s12 m12 l9">

            <h4>Swing events</h4>
            <h5>February</h5>
            <div id="card-container" class="row">
                <!-- Col: Card 1 -->
                <div class="col s12 m6 l4">
                    <!-- Card 1 -->
                    <div class="card">
                        <div class="card-content white-text">
                            <div class="card__date">
                                <span class="card__date__day">23</span>
                                <span class="card__date__month">Mai</span>
                            </div>
                            <div class="card__meta">
                                <a href="#"><i class="small material-icons">room</i>Savoy dance club</a>
                                <time>17th March</time>
                            </div>
                            <span class="card-title grey-text text-darken-4">Savoy swing up</span>

                            <p class="card-subtitle grey-text text-darken-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...lacus eleifend lacinia... go!</p>
                            <div class="row card-row">
                                <span class="text-darken-2 card-info"><i class="small material-icons">label</i>&nbsp;lindy hop, balboa, charleston</span>
                            </div>
                            <div class="row card-row">
                                <span class="text-darken-2 card-info"><i class="small material-icons">place</i>&nbsp;lindy hop, balboa, charleston</span>
                            </div>
                            <div class="row card-row">
                                <span class="text-darken-2 card-info"><i class="small material-icons">event</i>&nbsp;lindy hop, balboa, charleston</span>
                            </div>
                            <div class="row card-row">
                                <span class="text-darken-2 card-info"><i class="small material-icons">schedule</i>&nbsp;lindy hop, balboa, charleston</span>
                            </div>
                        </div>
                        <div class="card-action">
                            <a href="#"><i class="material-icons">&nbsp;language</i>VISIT WEB</a>
                            <a href="#" class="card-action-right"><i class="material-icons">&nbsp;share</i>SHARE</a>
                        </div>
                    </div>
                    <!-- End of card -->
                </div>
                <!-- End of col -->
                <!-- Col: Card 1 -->
                <div class="col s12 m6 l4">
                    <!-- Card 1 -->
                    <div class="card">
                        <div class="card-content white-text">
                            <div class="card__date">
                                <span class="card__date__day">23</span>
                                <span class="card__date__month">Mai</span>
                            </div>
                            <div class="card__meta">
                                <a href="#"><i class="small material-icons">room</i>Web Design</a>
                                <time>17th March</time>
                            </div>
                            <span class="card-title grey-text text-darken-4">Savoy swing up</span>

                            <p class="card-subtitle grey-text text-darken-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...lacus eleifend lacinia... go!</p>
                            <span class="text-darken-2 card-info"><i class="small material-icons">label</i>&nbsp;lindy hop, balboa, charleston</span>
                        </div>
                        <div class="card-action">
                            <a href="#"><i class="material-icons">&nbsp;language</i>VISIT WEB</a>
                            <a href="#" class="card-action-right"><i class="material-icons">&nbsp;room</i>FIND</a>
                        </div>
                    </div>
                    <!-- End of card -->
                </div>
                <!-- Col: Card 1 -->
                <div class="col s12 m6 l4">
                    <!-- Card 1 -->
                    <div class="card">
                        <div class="card-content white-text">
                            <div class="card__date">
                                <span class="card__date__day">23</span>
                                <span class="card__date__month">Mai</span>
                            </div>
                            <div class="card__meta">
                                <a href="#"><i class="small material-icons">room</i>Web Design</a>
                                <time>17th March</time>
                            </div>
                            <span class="card-title grey-text text-darken-4">Savoy swing up</span>

                            <p class="card-subtitle grey-text text-darken-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia...lacus eleifend lacinia... go!</p>
                            <span class="text-darken-2 card-info"><i class="small material-icons">label</i>&nbsp;lindy hop, balboa, charleston</span>
                        </div>
                        <div class="card-action">
                            <a href="#"><i class="material-icons">&nbsp;language</i>VISIT WEB</a>
                            <a href="#" class="card-action-right"><i class="material-icons">&nbsp;room</i>FIND</a>
                        </div>
                    </div>
                    <!-- End of card -->
                </div>

            </div>
        </div>
    </div>
</div>