@model KinMel.Models.ClassifiedAd

@{
    Layout = "/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = @Model.Title;

}

<!--Breadcrumbs-->
<div class="page-container grey lighten-3">
    <div class="browse-width row grey lighten-3 mb0">
        <a asp-controller="Home" asp-action="Index" class="breadcrumb">Home</a>
        <a asp-controller="ClassifiedAds" asp-action="Index" class="breadcrumb">Browse Ads</a>
    </div>
</div>
<div class="container index-content">

    <div class="col s12">
        <p class="details-title mt-10 mb-10">
            @Model.Title
            <a class="right-align right">
                <label>
                    <i class="material-icons align-middle">access_time</i> @Html.DisplayFor(m => m.DateCreated)
                </label>
            </a>
        </p>
        <p class="details-price m-0">
            Nrs. @Model.Price
            @if (!Model.IsActive)
            {
                <a class="details-price-tag grey">Inactive</a>
            }
            @if (Model.IsSold)
            {
                <a class="details-price-tag red">Sold</a>

            }
            @if (Model.CreatedByUser.UserName.Equals(User.Identity.Name))
            {
                <a class="dropdown-trigger waves-effect waves-circle waves-light btn-floating secondary-content" href="#" data-target="editAdDropdown">
                    <i class="material-icons m-0">edit</i>
                </a>
                <ul id="editAdDropdown" class="dropdown-content">
                    @if (Model.IsSold)
                    {
                        <li>
                            <a asp-action="MarkAsUnSold" asp-controller="ClassifiedAds" asp-route-id=@Model.Slug>Mark as unsold</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="MarkAsSold" asp-controller="ClassifiedAds" asp-route-id=@Model.Slug>Mark as sold</a>
                        </li>
                    }
                    <li class="divider" tabindex="-1"></li>
                    @if (Model.IsActive)
                    {
                        <li>
                            <a asp-action="MarkAsInactive" asp-controller="ClassifiedAds" asp-route-id=@Model.Slug>Mark as inactive</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="MarkAsActive" asp-controller="ClassifiedAds" asp-route-id=@Model.Slug>Mark as active</a>
                        </li>
                    }

                </ul>
            }
        </p>
    </div>
    <div class="divider"></div>
    @*<section>
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="@Model.PrimaryImageUrl"> <!-- random image -->
                    </li>
                    @if (Model.ImageUrlList.Any())
                    {
                        foreach (var item in Model.ImageUrlList)
                        {
                            <li>
                                <img src="@item"> <!-- random image -->
                            </li>}
                    }
                </ul>
            </div>
        </section>
        <div class="divider"></div>*@

    <section>
        <div id="details-map-carousel-div" class="row m-0">
            <div id="details-carousel" class="col s12 m12 l7  carousel carousel-slider materialboxed grey lighten-4 shadow-1p">
                @if (Model.ImageUrlList.Any())
                {
                    foreach (var item in Model.ImageUrlList)
                    {
                        <a id="details-carousel-item" class="carousel-item"><img src="@item"></a>
                    }
                }

            </div>
            @*<div id="details-carousel" class="col s12 m12 l7 carousel carousel-slider grey lighten-4 shadow-1p">
                    @if (Model.ImageUrlList.Any())
                    {
                        foreach (var item in Model.ImageUrlList)
                        {
                            <a href="@item" data-lightbox="adImages" id="details-carousel-item" class="carousel-item"><img src="@item"></a>
                        }
                    }

                </div>*@




            <div class="col s12 m6 l5 shadow-1p">
                <div id="details-map-div" class="details-map-div"></div>
                <script>
                    var marker;
                    // Initialize and add the map
                    function initMap() {
                        // The location of Uluru
                        var theAddress = { lat: @Model.Latitude, lng: @Model.Longitude };
                        // map style
                        var styledMapType = new google.maps.StyledMapType([
                                {
                                    "featureType": "landscape.natural",
                                    "elementType": "geometry.fill",
                                    "stylers": [
                                        {
                                            "visibility": "on"
                                        },
                                        {
                                            "color": "#e0efef"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "poi",
                                    "elementType": "geometry.fill",
                                    "stylers": [
                                        {
                                            "visibility": "on"
                                        },
                                        {
                                            "hue": "#1900ff"
                                        },
                                        {
                                            "color": "#c0e8e8"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "road",
                                    "elementType": "geometry",
                                    "stylers": [
                                        {
                                            "lightness": 100
                                        },
                                        {
                                            "visibility": "simplified"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "road",
                                    "elementType": "labels",
                                    "stylers": [
                                        {
                                            "visibility": "off"
                                        }
                                    ]
                                },
                                {
                                    "featureType": "transit.line",
                                    "elementType": "geometry",
                                    "stylers": [
                                        {
                                            "visibility": "on"
                                        },
                                        {
                                            "lightness": 700
                                        }
                                    ]
                                },
                                {
                                    "featureType": "water",
                                    "elementType": "all",
                                    "stylers": [
                                        {
                                            "color": "#7dcdcd"
                                        }
                                    ]
                                }
                            ],
                            {name: 'Styled Map'});
                        // The map, centered at Uluru
                        var map = new google.maps.Map(
                            document.getElementById('details-map-div'),
                            {
                                zoom: 14,
                                center: theAddress,
                                //mapTypeControl: true,
                                gestureHandling: 'greedy',
                                scrollwheel: false,
                                //disableDefaultUI: true,

                            });
                        //Associate the styled map with the MapTypeId and set it to display.
                        map.mapTypes.set('styled_map', styledMapType);
                        map.setMapTypeId('styled_map');
                        // The marker, positioned at Uluru
                        marker = new google.maps.Marker({
                            map: map,
                            position: theAddress,
                            animation: google.maps.Animation.DROP,
                        });
                        marker.addListener('click', toggleBounce);
                    }

                    function toggleBounce() {
                        if (marker.getAnimation() !== null) {
                            marker.setAnimation(null);
                        } else {
                            marker.setAnimation(google.maps.Animation.BOUNCE);
                        }
                    }
                </script>
                @*<script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSsKUzYG_Wz7u2qL6unHqfBOmvaZ0H1Mg&sensor=false&callback=initMap">
                </script>*@ 
                <div class="row m-0">
                    <div class="col s12 m12 fields-list">
                        <ul class="row m-0">
                            <li>
                                <label asp-for="@Model.Address"></label>
                                @{
                                    var mapLink = "https://maps.google.com/maps?&q=" + @Model.Address + " " + @Model.City;
                                }
                                <a class="escape-float" href="@mapLink">
                                    @if (!String.IsNullOrWhiteSpace(@Model.Address))
                                    {
                                        @Html.DisplayFor(m => m.Address);
                                    }
                                    @Html.DisplayFor(m => m.City)
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="row m-0">
                        <div class="col s12 m6 fields-list">
                            <ul class="row m-0">
                                <li>
                                    <label asp-for="@Model.Delivery"></label>
                                    <p class="escape-float">
                                        @Html.Raw(@Model.Delivery ? "Yes" : "No")
                                    </p>
                                </li>

                            </ul>
                        </div>
                        @if (@Model.DeliveryCharges != null)
                        {
                            <div class="col s12 m6 fields-list">
                                <ul class="row m-0">
                                    <li>
                                        <label asp-for="@Model.DeliveryCharges"></label>
                                        <p class="escape-float">Nrs. @Html.DisplayFor(m => m.DeliveryCharges)</p>
                                    </li>
                                </ul>
                            </div>
                        }


                    </div>
                </div>
            </div>
            <div class="divider col l12 hide-on-med-and-down mt-10"></div>

            <div class="col s12 m6 l6">
                <div id="details-header">
                    <div class="row m-0">
                        <div class="card-panel p-5">
                            <div class="row m-0 valign-wrapper">
                                <div class="col s4">
                                    <img src="@Model.CreatedByUser.ProfilePictureUrl" alt="" class="details-createdby-img circle">
                                </div>
                                <div class="details-card-info col s8">
                                    <p class="right-align">
                                        <label>Created By</label>
                                    </p>
                                    <p class="right-align">
                                        <a asp-controller="Account" asp-action="UserProfile" asp-route-id="@Model.CreatedByUser.UserName">
                                            @Model.CreatedByUser.UserName
                                            <i class="material-icons align-middle">account_circle</i>
                                        </a>
                                    </p>
                                    <p class="right-align">
                                        @if (@Model.CreatedByUser.PhoneNumber != null)
                                        {
                                            if (@Model.CreatedByUser.PhoneNumberConfirmed == true)
                                            {
                                                @Html.DisplayFor(model => model.CreatedByUser.PhoneNumber)
                                                <i class="material-icons cyan-text  align-middle tooltipped" data-tooltip="Phone verified" data-position="left">verified_user</i>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(model => model.CreatedByUser.PhoneNumber)
                                                <i class="material-icons red-text align-middle tooltipped" data-tooltip="Phone not verified" data-position="left">phonelink_erase</i>
                                            }
                                        }

                                    </p>

                                    <p class="right-align">
                                        @Html.DisplayFor(model => model.CreatedByUser.JoinDate)
                                        <i class="material-icons align-middle">date_range</i>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6">
                <div class="row m-0">
                    <div class="col s12 m6 fields-list">
                        <ul class="row m-0">
                            <li>
                                <label asp-for="@Model.Condition"></label>
                                <p class="escape-float"> @Html.DisplayFor(m => m.Condition)</p>
                            </li>

                        </ul>
                    </div>
                    @if (!String.IsNullOrWhiteSpace(@Model.UsedFor))
                    {
                        <div class="col s12 m6 fields-list">
                            <ul class="row m-0">
                                <li>
                                    <label asp-for="@Model.UsedFor"></label>
                                    <p class="escape-float"> @Html.DisplayFor(m => m.UsedFor) </p>
                                </li>
                            </ul>
                        </div>
                    }


                    <div class="col s12 m12 fields-list">
                        <ul class="row m-0">
                            <li>
                                <label>Negotiable Price</label>
                                <p>
                                    @Html.Raw(@Model.PriceNegotiable ? "Yes" : "No")
                                </p>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <div class="divider"></div>

    <section>
        <div class="details-card-header">Description</div>
        <div>@Html.Raw(@Model.Description)</div>
    </section>
    <div class="divider"></div>
    <section>
        <div class="row m-0">
            <div class="details-card-header">Specifications</div>

            @RenderBody()

            @if (!String.IsNullOrWhiteSpace(@Model.Features))
            {
                <div class="col s12 m12 fields-list">
                    <ul class="row m-0">
                        <li>
                            <label asp-for="@Model.Features"></label>
                            <p class="escape-float"> @Html.DisplayFor(m => m.Features)</p>
                        </li>
                    </ul>
                </div>
            }
            @if (!String.IsNullOrWhiteSpace(@Model.WarrantyType))
            {
                <div class="col s12 m6 fields-list">
                    <ul class="row">
                        <li>
                            <label asp-for="@Model.WarrantyType"></label>
                            <p> @Html.DisplayFor(m => m.WarrantyType)</p>
                        </li>
                    </ul>
                </div>

            }
            @if (!String.IsNullOrWhiteSpace(@Model.WarrantyPeriod))
            {
                <div class="col s12 m6 fields-list">
                    <ul class="row">
                        <li>
                            <label asp-for="@Model.WarrantyPeriod"></label>
                            <p> @Html.DisplayFor(m => m.WarrantyPeriod)</p>
                        </li>
                    </ul>
                </div>

            }
            @if (!String.IsNullOrWhiteSpace(@Model.WarrantyIncludes))
            {
                <div class="col s12 m12 fields-list">
                    <ul class="row m-0">
                        <li>
                            <label asp-for="@Model.WarrantyIncludes"></label>
                            <p class="escape-float"> @Html.DisplayFor(m => m.WarrantyIncludes)</p>
                        </li>
                    </ul>
                </div>

            }
        </div>
    </section>

    @*<div class="divider"></div>*@

    @*<section>
        <div class="col s12">
            <div class="details-card-header">Warranty Details</div>
            <div class="row m-0">
                @if (!String.IsNullOrWhiteSpace(@Model.WarrantyType))
                {
                    <div class="col s12 m6 fields-list">
                        <ul class="row">
                            <li>
                                <label asp-for="@Model.WarrantyType"></label>
                                <p> @Html.DisplayFor(m => m.WarrantyType)</p>
                            </li>
                        </ul>
                    </div>

                }
                @if (!String.IsNullOrWhiteSpace(@Model.WarrantyPeriod))
                {
                    <div class="col s12 m6 fields-list">
                        <ul class="row">
                            <li>
                                <label asp-for="@Model.WarrantyPeriod"></label>
                                <p> @Html.DisplayFor(m => m.WarrantyPeriod)</p>
                            </li>
                        </ul>
                    </div>

                }
                @if (!String.IsNullOrWhiteSpace(@Model.WarrantyIncludes))
                {
                    <div class="col s12 m12 fields-list">
                        <ul class="row m-0">
                            <li>
                                <label asp-for="@Model.WarrantyIncludes"></label>
                                <p class="escape-float"> @Html.DisplayFor(m => m.WarrantyIncludes)</p>
                            </li>
                        </ul>
                    </div>

                }
            </div>
        </div>
    </section>*@

    <section>
        <div class="col s12">
            <div class="details-card-header">Questions & Answers</div>
            @await Component.InvokeAsync("Questions", new { id = Model.Id })
            <div class="col s12">
                <h6 class="blue-text">Couldn't find the answer to what you were looking for?</h6>
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-area="" asp-controller="Questions" asp-action="Create" method="post">
                        <div class="row m-0">
                            <div class="input-field col s12 m12 l9">
                                <label class="active" for="Text">Post a new question</label>
                                <input id="Text" name="Text" required />
                            </div>
                            <div class="input-field col s12 m12 l3">
                                <input name="ClassifiedAdId" hidden value="@Model.Id" />
                                <button type="submit" value="Create" class="btn">Submit Question</button>
                            </div>
                        </div>
                    </form>
                }
                else
                {
                    <p class="m-5 p-5"> Please <a asp-controller="Account" asp-action="Login" class="btn">Login</a> or <a asp-controller="Account" asp-action="Register" class="btn">Register</a> to post a question.</p>
                }
            </div>
        </div>
    </section>
</div>
