@using System.Globalization
@model KinMel.Models.ClassifiedAd

@{
    Layout = "/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = @Model.Title;

}
<script>
    var offset = Intl.DateTimeFormat().resolvedOptions().timeZone
</script>

<!--Breadcrumbs-->
<div class="page-container grey lighten-3">
    <div class="browse-width row grey lighten-3 mb0">
        <a asp-controller="Home" asp-action="Index" class="breadcrumb">Home</a>
        <a asp-controller="ClassifiedAds" asp-action="Index" class="breadcrumb">Browse Ads</a>
    </div>
</div>

<div class="browse-width index-content">
    <!--Title-->
    <div class="col s12">
        <h5 class="bold">
            @Model.Title
            <a data-tooltip="@Model.DateCreated.ToLocalTime().ToString("dd-MMMM-yyyy HH:mm", CultureInfo.InvariantCulture)" class="right-align right tooltipped">
                <label id="dateCreated">
                    <i class="material-icons align-middle">access_time</i> @Html.DisplayFor(m => m.DateCreatedRelative)
                </label>
            </a>
        </h5>
        <p class="details-price m-0">
            Nrs. @Model.Price
            @if (!Model.IsActive)
            {
                <a class="details-price-tag grey">Inactive</a>
            }
            @if (Model.IsSold)
            {
                <a class="details-price-tag red">Sold</a>
            }
            @if (Model.CreatedByUser.UserName.Equals(User.Identity.Name))
            {
                <a class="dropdown-trigger waves-effect waves-circle waves-light btn-floating secondary-content" href="#" data-target="editAdDropdown">
                    <i class="material-icons m-0">edit</i>
                </a>
                <ul id="editAdDropdown" class="dropdown-content">
                    @if (Model.IsSold)
                    {
                        <li><a asp-action="MarkAsUnSold" asp-controller="ClassifiedAds" asp-route-id=@Model.Slug>Mark as unsold</a></li>
                    }
                    else
                    {
                        <li><a asp-action="MarkAsSold" asp-controller="ClassifiedAds" asp-route-id=@Model.Slug>Mark as sold</a></li>
                    }
                    <li class="divider" tabindex="-1"></li>
                    @if (Model.IsActive)
                    {
                        <li><a asp-action="MarkAsInactive" asp-controller="ClassifiedAds" asp-route-id=@Model.Slug>Mark as inactive</a></li>
                    }
                    else
                    {
                        <li><a asp-action="MarkAsActive" asp-controller="ClassifiedAds" asp-route-id=@Model.Slug>Mark as active</a></li>
                    }
                </ul>
            }
        </p>
    </div>

    <section class="details_top-grid">
        <div class="details_top1-grid">
            <!--carousel-->
            <div class="card m-0 carousel carousel-slider materialboxed">
                @if (Model.ImageUrlList.Any())
                {
                    foreach (var item in Model.ImageUrlList)
                    {
                        <a id="details-carousel-item" class="carousel-item"><img src="@item"></a>
                    }
                }
            </div>
            <!--user-info-->
            <div class="card m-0">
                <div class="p-5 m-0">
                    <div class="row m-0 valign-wrapper">
                        <div class="col s4">
                            <img src="@Model.CreatedByUser.ProfilePictureUrl" alt="" class="details-createdby-img circle">
                        </div>
                        <div class="details-card-info col s8">
                            <p class="right-align">
                                <a asp-controller="Account" asp-action="UserProfile" asp-route-id="@Model.CreatedByUser.UserName">
                                    @Model.CreatedByUser.UserName
                                    <i class="material-icons align-middle">account_circle</i>
                                </a>
                            </p>
                            <p class="right-align">
                                @if (@Model.CreatedByUser.PhoneNumber != null)
                                {
                                    if (@Model.CreatedByUser.PhoneNumberConfirmed == true)
                                    {
                                        @Html.DisplayFor(model => model.CreatedByUser.PhoneNumber)
                                        <i class="material-icons cyan-text  align-middle tooltipped" data-tooltip="Phone verified" data-position="left">verified_user</i>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.CreatedByUser.PhoneNumber)
                                        <i class="material-icons red-text align-middle tooltipped" data-tooltip="Phone not verified" data-position="left">phonelink_erase</i>
                                    }
                                }
                            </p>

                            <p class="right-align">
                                @Html.DisplayFor(model => model.CreatedByUser.JoinDate)
                                <i class="material-icons align-middle ">date_range</i>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--basic-info-->
            <div class="card m-0">
                <div class="col s12 fields-list">
                    <ul class="row m-0">
                        <li>
                            <label asp-for="@Model.Condition"></label>
                            <p> @Html.DisplayFor(m => m.Condition)</p>
                        </li>

                    </ul>
                </div>
                @if (!String.IsNullOrWhiteSpace(@Model.UsedFor))
                {
                    <div class="col s12 fields-list">
                        <ul class="row m-0">
                            <li>
                                <label asp-for="@Model.UsedFor"></label>
                                <p> @Html.DisplayFor(m => m.UsedFor) </p>
                            </li>
                        </ul>
                    </div>
                }

                <div class="col s12 fields-list">
                    <ul class="row m-0">
                        <li>
                            <label>Negotiable Price</label>
                            <p>
                                @Html.Raw(@Model.PriceNegotiable ? "Yes" : "No")
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--map-->
        <div class="card m-0">
            <div id="details-map-div" class="details-map-div"></div>
            <!--map-details-->
            <div class="fields-list">
                <ul>
                    <li>
                        <label asp-for="@Model.Address"></label>
                        @{
                            var mapLink = "https://maps.google.com/maps?&q=" + @Model.Address + " " + @Model.City;
                        }
                        <p>
                            <a href="@mapLink">
                                @if (!String.IsNullOrWhiteSpace(@Model.Address))
                                {
                                    @Html.DisplayFor(m => m.Address);
                                },
                                @Html.DisplayFor(m => m.City)
                            </a>

                        </p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <label asp-for="@Model.Delivery"></label>
                        <p>@Html.Raw(@Model.Delivery ? "Yes" : "No")</p>
                    </li>

                </ul>
                @if (@Model.DeliveryCharges != null)
                {
                    <ul>
                        <li>
                            <label asp-for="@Model.DeliveryCharges"></label>
                            <p>Nrs. @Html.DisplayFor(m => m.DeliveryCharges)</p>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </section>

    <!--Description-->
    <section class="card m-0">
        <div class="details-card-header">Description</div>
        <div class="p-10">@Html.Raw(@Model.Description)</div>
    </section>

    <!--Specifications-->
    <section class="card m-0">
        <div class="row m-0">
            <div class="details-card-header">Specifications</div>

            @RenderBody()

            @if (!String.IsNullOrWhiteSpace(@Model.Features))
            {
                <div class="col s12 m12 fields-list">
                    <ul class="row m-0">
                        <li>
                            <label asp-for="@Model.Features"></label>
                            <p class="escape-float"> @Html.DisplayFor(m => m.Features)</p>
                        </li>
                    </ul>
                </div>
            }
            @if (!String.IsNullOrWhiteSpace(@Model.WarrantyType))
            {
                <div class="col s12 m6 fields-list">
                    <ul class="row m-0">
                        <li>
                            <label asp-for="@Model.WarrantyType"></label>
                            <p> @Html.DisplayFor(m => m.WarrantyType)</p>
                        </li>
                    </ul>
                </div>
            }
            @if (!String.IsNullOrWhiteSpace(@Model.WarrantyPeriod))
            {
                <div class="col s12 m6 fields-list">
                    <ul class="row m-0">
                        <li>
                            <label asp-for="@Model.WarrantyPeriod"></label>
                            <p> @Html.DisplayFor(m => m.WarrantyPeriod)</p>
                        </li>
                    </ul>
                </div>

            }
            @if (!String.IsNullOrWhiteSpace(@Model.WarrantyIncludes))
            {
                <div class="col s12 m6 fields-list">
                    <ul class="row m-0">
                        <li>
                            <label asp-for="@Model.WarrantyIncludes"></label>
                            <p> @Html.DisplayFor(m => m.WarrantyIncludes)</p>
                        </li>
                    </ul>
                </div>

            }
        </div>
    </section>

    <!--Q&A Section-->
    <section class="card m-0">
        <div class="col s12">
            <div class="details-card-header">Questions & Answers</div>
            @await Component.InvokeAsync("Questions", new { id = Model.Id })
            <div class="col s12">
                <h6 class="blue-text">Couldn't find the answer to what you were looking for?</h6>
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-area="" asp-controller="Questions" asp-action="Create" method="post">
                        <div class="row m-0">
                            <div class="input-field col s12 m12 l9">
                                <label class="active" for="Text">Post a new question</label>
                                <input id="Text" name="Text" required />
                            </div>
                            <div class="input-field col s12 m12 l3">
                                <input name="ClassifiedAdId" hidden value="@Model.Id" />
                                <button type="submit" value="Create" class="btn">Submit Question</button>
                            </div>
                        </div>
                    </form>
                }
                else
                {
                    <p class="m-5 p-5"> Please <a asp-controller="Account" asp-action="Login" class="btn">Login</a> or <a asp-controller="Account" asp-action="Register" class="btn">Register</a> to post a question.</p>
                }
            </div>
        </div>
    </section>
    <!--Similar-ads-->
    <section>
        <h5 class="bold m-0">Similar Ads</h5>
    </section>
</div>

<script>
    var marker;
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var theAddress = { lat: @Model.Latitude, lng: @Model.Longitude };
        // map style
        var styledMapType = new google.maps.StyledMapType([
                { "featureType": "landscape.natural", "elementType": "geometry.fill", "stylers": [{ "visibility": "on" }, { "color": "#e0efef" }] },
                { "featureType": "poi", "elementType": "geometry.fill", "stylers": [{ "visibility": "on" }, { "hue": "#1900ff" }, { "color": "#c0e8e8" }] },
                { "featureType": "road", "elementType": "geometry", "stylers": [{ "lightness": 100 }, { "visibility": "simplified" }] },
                { "featureType": "road", "elementType": "labels", "stylers": [{ "visibility": "off" }] },
                { "featureType": "transit.line", "elementType": "geometry", "stylers": [{ "visibility": "on" }, { "lightness": 700 }] },
                { "featureType": "water", "elementType": "all", "stylers": [{ "color": "#7dcdcd" }] }],
            { name: 'Styled Map' });
        // The map, centered at Uluru
        var map = new google.maps.Map(
            document.getElementById('details-map-div'),
            {
                zoom: 14,
                center: theAddress,
                //mapTypeControl: true,
                gestureHandling: 'greedy',
                scrollwheel: false,
                //disableDefaultUI: true,

            });
        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set('styled_map', styledMapType);
        map.setMapTypeId('styled_map');
        // The marker, positioned at Uluru
        marker = new google.maps.Marker({
            map: map,
            position: theAddress,
            animation: google.maps.Animation.DROP,
        });
        marker.addListener('click', toggleBounce);
    }

    function toggleBounce() {
        if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
    }
</script>