@model KinMel.Models.ClassifiedAd

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!--Breadcrumbs-->
<div class="page-container grey lighten-3">
    <div class="browse-width row grey lighten-3 mb0">
        <a asp-controller="Home" asp-action="Index" class="breadcrumb">Home</a>
        <a asp-controller="ClassifiedAds" asp-action="Index" class="breadcrumb">Browse Ads</a>
    </div>
</div>
<div class="container index-content">

    <div class="col s12">
        <p class="details-title mt-10 mb-10">
            @Model.Title
        </p>
        <p class="details-price m-0">
            Nrs. @Model.Price
            <span class="right-align" style="float:right">
                <label>
                    <i class="material-icons align-middle">access_time</i> @Html.DisplayFor(m => m.DateCreated)
                </label>
            </span>
        </p>
    </div>
    <div class="divider"></div>
    @*<section>
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="@Model.PrimaryImageUrl"> <!-- random image -->
                    </li>
                    @if (Model.ImageUrlList.Any())
                    {
                        foreach (var item in Model.ImageUrlList)
                        {
                            <li>
                                <img src="@item"> <!-- random image -->
                            </li>}
                    }
                </ul>
            </div>
        </section>
        <div class="divider"></div>*@

    <section>
        <div id="details-map-carousel-div" class="row">
            <div id="details-carousel" class="col s12 m12 l7 carousel carousel-slider materialboxed grey lighten-4 shadow-1p">
                @if (Model.ImageUrlList.Any())
                {
                    foreach (var item in Model.ImageUrlList)
                    {
                        <a id="details-carousel-item" class="carousel-item"><img src="@item"></a>
                    }
                }

            </div>
            @*<div id="details-carousel" class="col s12 m12 l7 carousel carousel-slider grey lighten-4 shadow-1p">
                @if (Model.ImageUrlList.Any())
                {
                    foreach (var item in Model.ImageUrlList)
                    {
                        <a href="@item" data-lightbox="adImages" id="details-carousel-item" class="carousel-item"><img src="@item"></a>
                    }
                }

            </div>*@

            <div class="col s12 m6 l5">
                <div id="details-header">
                    <div class="row m-0">
                        <div class="card-panel p-0">
                            <div class="row m-0 valign-wrapper">
                                <div class="col s4">
                                    <img src="@Model.CreatedByUser.ProfilePictureUrl" alt="" class="details-createdby-img circle">
                                </div>
                                <div class="details-card-info col s8">
                                    <p class="right-align">
                                        <label>Created By</label>
                                    </p>
                                    <p class="right-align">
                                        <a asp-controller="Account" asp-action="UserProfile" asp-route-id="@Model.CreatedByUser.UserName">
                                            <i class="material-icons align-middle">account_circle</i>
                                            @Model.CreatedByUser.UserName
                                        </a>
                                    </p>
                                    <p class="right-align">
                                        <i class="material-icons align-middle">date_range</i>
                                        @Html.DisplayFor(model => model.CreatedByUser.JoinDate)

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col s12 m6 fields-list">
                            <ul class="row m-0">
                                <li>
                                    <label asp-for="@Model.Condition"></label>
                                    <p class="escape-float"> @Html.DisplayFor(m => m.Condition)</p>
                                </li>

                            </ul>
                        </div>
                        <div class="col s12 m6 fields-list">
                            <ul class="row m-0">
                                <li>
                                    <label asp-for="@Model.UsedFor"></label>
                                    <p class="escape-float"> @Html.DisplayFor(m => m.UsedFor) </p>
                                </li>
                            </ul>
                        </div>

                        <div class="col s12 m12 fields-list">
                            <ul class="row m-0">
                                <li>
                                    <label>Negotiable Price</label>
                                    <p>
                                        @Html.Raw(@Model.PriceNegotiable ? "Yes" : "No")
                                    </p>
                                </li>
                                <li>
                                    <label asp-for="@Model.Address"></label>
                                    <p class="escape-float">
                                        @Html.DisplayFor(m => m.Address), @Html.DisplayFor(m => m.City)
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="divider col l12 hide-on-med-and-down mt-10"></div>

            <div class="col s12 m6 l12 shadow-1p details-map-div"></div>
            @*<div style="padding: 10px 5px 10px 5px;" class="hide-on-med-and-down">
                    <div class="cyan" style="width: 5px; height: 100%"></div>
                </div>*@

        </div>
    </section>

    <div class="divider"></div>

    <section>
        <div class="details-card-header">Description</div>
        <div>@Html.Raw(@Model.Description)</div>
    </section>
    <div class="divider"></div>
    <section>
        <div class="row m-0">
            <div class="details-card-header">Specifications</div>

            @RenderBody()

            <div class="col s12 m12 fields-list">
                <ul class="row m-0">
                    <li>
                        <label asp-for="@Model.Features"></label>
                        <p class="escape-float"> @Html.DisplayFor(m => m.Features)</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <div class="divider"></div>

    <section>
        <div class="col s12">
            <div class="details-card-header">Warranty Details</div>
            <div class="row m-0">
                <div class="col s12 m6 fields-list">
                    <ul class="row">
                        <li>
                            <label asp-for="@Model.WarrantyType"></label>
                            <p> @Html.DisplayFor(m => m.WarrantyType)</p>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m6 fields-list">
                    <ul class="row">
                        <li>
                            <label asp-for="@Model.WarrantyPeriod"></label>
                            <p> @Html.DisplayFor(m => m.WarrantyPeriod)</p>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m12 fields-list">
                    <ul class="row m-0">
                        <li>
                            <label asp-for="@Model.WarrantyIncludes"></label>
                            <p class="escape-float"> @Html.DisplayFor(m => m.WarrantyIncludes)</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="col s12">
            <div class="details-card-header">Delivery Details</div>
            <div class="row m-0">
                <div class="col s12 m6 fields-list">
                    <ul class="row">
                        <li>
                            <label asp-for="@Model.Delivery"></label>
                            <p>
                                @Html.Raw(@Model.Delivery ? "Yes" : "No")
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col s12 m6 fields-list">
                    <ul class="row">
                        <li>
                            <label asp-for="@Model.DeliveryCharges"></label>
                            <p>Nrs. @Html.DisplayFor(m => m.DeliveryCharges)</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="col s12">
            <div class="details-card-header">Questions & Answers</div>
            @await Component.InvokeAsync("Questions", new { id = Model.Id })
            <div class="col s12">
                <h6 class="blue-text">Couldn't find the answer to what you were looking for?</h6>
                <form asp-area="" asp-controller="Questions" asp-action="Create" method="post">
                    <div class="row m-0">
                        <div class="input-field col s12 m12 l9">
                            <label class="active" for="Text">Post a new question</label>
                            <input id="Text" name="Text" required />
                        </div>
                        <div class="input-field col s12 m12 l3">
                            <input name="ClassifiedAdId" hidden value="@Model.Id" />
                            <button type="submit" value="Create" class="btn">Submit Question</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
