<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kinmel</title>
    @Html.Partial("_Favicons")

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/materialize/css/materialize.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/home.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
              asp-fallback-href="~/lib/materialize/css/materialize.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body class="white">
    <div class="navbar-fixed">
        <nav class="black" role="navigation">
            <div class="nav-wrapper page-container row browse-width">
                <a id="logo-container" asp-area="" asp-controller="Home" asp-action="Index" class="brand-logo">KinMel</a>
                <div class="fixed-action-btn">
                    <a asp-controller="ClassifiedAds" asp-action="Create" class="btn-floating btn-large waves-effect waves-light pink tooltipped" data-tooltip="Post a new Ad" data-position="left">
                        <i class="material-icons">add</i>
                    </a>
                </div>

                @await Html.PartialAsync("_LoginPartial")

                <ul class="right hide-on-med-and-down">
                    <li><a asp-area="" asp-controller="ClassifiedAds" asp-action="Index">Browse Ads</a></li>
                </ul>

                <ul class="right hide-on-med-and-down">
                    <li><a asp-area="" asp-controller="ClassifiedAds" asp-action="Search">Filter Ads</a></li>
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><a asp-area="" asp-controller="ClassifiedAds" asp-action="Index">Browse Ads</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>

    <!--Page-loader-->
    @*<div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>*@

    @RenderBody()

    <footer id="footer" class="footer">
        <div class="footer-wrapper">
            <div class="footer-block-wrapper">
                <div class="footer-logo footer-block">
                    <a class="brand-logo" href="@Url.Action("Index", "Home")">KinMel</a>
                </div>
                <div class="footer-block-inner-wrapper">
                    <div class="footer-block">
                        <ul>
                            <li><a asp-controller="Home" asp-action="About">About us</a></li>
                            <li><a asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="footer-block">
                        <h6><a href="#">support@vattujan.com</a></h6>
                        <h6><b>Kathmandu, NP</b></h6>
                    </div>
                    <div class="footer-block">
                        <a href="https://www.facebook.com" class="fab fa-facebook-square fa-3x"></a>
                        <a href="https://plus.google.com" class="fab fa-google-plus-square fa-3x"></a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <p>&copy; 2018 - KinMel</p>
                </div>
            </div>
        </div>
    </footer>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>

        <script src="~/lib/materialize/js/materialize.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"
                asp-fallback-src="~/lib/materialize/js/materialize.min.js">
        </script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
@*<script src="//cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>*@
<script src="https://cdn.ckeditor.com/4.9.2/standard-all/ckeditor.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
