@using Microsoft.AspNetCore.Identity
@using KinMel.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <!--Sidenav content-->
        <ul id="nav-mobile" class="sidenav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="https://picsum.photos/1000/400?image=0">
                    </div>
                    <a>
                        @{
                            var user = await UserManager.GetUserAsync(User);
                            string userProfileImageUrl = user.ProfilePictureUrl;
                            <img class="object-fit-cover circle" src="@userProfileImageUrl">
                        }
                    </a>
                    <a>
                        <span class="white-text name">Hello @UserManager.GetUserName(User)!</span>
                    </a>
                    <a>
                        <span class="white-text email">@user.Email</span>
                    </a>
                </div>
            </li>
            @*<li><a asp-area="" asp-controller="ClassifiedAds" asp-action="Search">Filter Ads</a></li>*@
            <li><a asp-area="" asp-controller="ClassifiedAds" asp-action="Index">Browse Ads</a></li>

            <li class="divider"></li>
            <li>
                <a asp-area="" asp-controller="Account" asp-action="UserProfile" asp-route-id="@user.UserName" title="Manage">My Profile</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Edit Profile</a>
            </li>
            <li>
                <button type="submit" class="waves-effect waves-light btn-large" style="width: 100%">Log out</button>
            </li>
        </ul>
        <!--Sidenav trigger-->
        <a href="#" data-target="nav-mobile" class="sidenav-trigger">
            <img src="@userProfileImageUrl" class="navbar-image">
            <i class="material-icons right m-0">navigate_next</i>
        </a>

        <ul class="right">
            @*<li class="hide-on-med-and-down"><a asp-area="" asp-controller="ClassifiedAds" asp-action="Search">Filter Ads</a></li>*@
            <li class="hide-on-med-and-down"><a asp-area="" asp-controller="ClassifiedAds" asp-action="Index" class="display-webkitbox"><i class="material-icons">apps</i>Browse Ads</a></li>
            <li class="hide-on-large-only"><a asp-area="" asp-controller="ClassifiedAds" asp-action="Index"><i class="material-icons">apps</i></a></li>
            <!-- Notification Dropdown Trigger -->
            <li class="notifications">
                <a id="notificationtrigger" class="dropdown-trigger" data-target="notificationdropdown">
                    <i class="material-icons">
                        notifications
                    </i>
                        <span id="notificationCount"></span>
                </a>
            </li>

            <!-- Dropdown Trigger -->
            <li class="hide-on-med-and-down">
                <a class="dropdown-trigger" href="#" data-target="navbardropdown">
                    <img src="@userProfileImageUrl" class="navbar-image">
                    Hello @UserManager.GetUserName(User)!
                    <i class="material-icons right m-0">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </form>

    <ul id="navbardropdown" class="dropdown-content">
        <li>
            <a asp-area="" asp-controller="Account" asp-action="UserProfile" asp-route-id="@UserManager.GetUserName(User)" title="Manage">My Profile</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Edit Profile</a>
        </li>
        <li class="divider"></li>
        <li>
            <button type="submit" class="waves-effect waves-light btn-large" style="width: 100%">Log out</button>
        </li>
    </ul>

    <ul id="notificationdropdown" class="dropdown-content collection">
        @await Component.InvokeAsync("Notification")
    </ul>
}
else
{
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <ul class="right">
        <li class="hide-on-med-and-down"><a asp-area="" asp-controller="ClassifiedAds" asp-action="Index" class="display-webkitbox"><i class="material-icons">apps</i>Browse Ads</a></li>
        <li class="hide-on-med-and-down"><a asp-area="" asp-controller="Account" asp-action="Register" class="display-webkitbox"><i class="material-icons">developer_board</i>Register</a></li>
        <li class="hide-on-med-and-down"><a asp-area="" asp-controller="Account" asp-action="Login" class="display-webkitbox"><i class="material-icons">input</i>Log in</a></li>
        <li class="hide-on-large-only"><a asp-area="" asp-controller="Account" asp-action="Register"><i class="material-icons">developer_board</i></a></li>
        <li class="hide-on-large-only"><a asp-area="" asp-controller="Account" asp-action="Login"><i class="material-icons">input</i></a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
        <li><a asp-area="" asp-controller="ClassifiedAds" asp-action="Index" class="display-webkitbox"><i class="material-icons">apps</i>Browse Ads</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Register" class="display-webkitbox"><i class="material-icons">developer_board</i>Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login" class="display-webkitbox"><i class="material-icons">input</i>Log in</a></li>
    </ul>
}
