@model KinMel.Models.BooksAndLearning

@{
    Layout = "/Views/Shared/_detailsLayout.cshtml";
}

<div class="fields-list">
    <ul class="col s12 m6 m-0">
        <li>
            <label asp-for="@Model.Author"></label>
            <p> @Html.DisplayFor(m => m.Author)</p>
        </li>
    </ul>
    @if (!String.IsNullOrWhiteSpace(@Model.Isbn))
    {
        <ul class="col s12 m6 m-0">
            <li>
                <label asp-for="@Model.Isbn"></label>
                <p> @Html.DisplayFor(m => m.Isbn)</p>
            </li>
        </ul>
    }
</div>
