@model IEnumerable<KinMel.Models.Notification>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotificationTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionController)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationTo.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationFrom.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionController)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
