@model IEnumerable<KinMel.Models.Notification>

@{ 
    ViewData["Title"] = "Notifications";
}

<div class="notification-container">
    <ul class="collection with-header z-depth-1">
        <li class="collection-header"><h5>Notifications</h5></li>
        @foreach (var item in Model)
        {
            <li class="collection-item avatar">
                <a class="center" asp-controller="Account" asp-action="UserProfile" asp-route-id="@item.NotificationFrom.UserName">
                    <img class="circle" src="@item.NotificationFrom.ProfilePictureUrl" />
                    <strong class="content-username">@item.NotificationFrom.UserName</strong>
                </a>
                <span class="title">
                    @Html.DisplayFor(modelItem => item.NotificationText)
                </span>
                <p class="content-datecreated grey-text">@Html.DisplayFor(modelItem => item.Date)</p>
            </li>
            @*<td>
                    @Html.DisplayFor(modelItem => item.IsRead)
                </td>*@
            @*<button class="btn" onclick="DeleteNotification(@item.Id)">x</button>*@
        }
    </ul>
</div>

<script type="text/javascript">
    function DeleteNotification(id) {
        $.getJSON("notifications/Delete/" + id);
    };
</script>
